@media only screen and (max-width: 500px) {
    Tab{
      color:'red';
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
  }
  
  